@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #b15834;
}
a:hover {
  color: #96482a;
}

/* Simple custom range input styling for the rest-timer / steppers if needed */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
